<% if @user && @user.errors %>
  <ul>
    <% @user.errors.each do |attr, msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
  <% end %>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Pley</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <% if session[:user_id] %>
            <li>
              <a href="/signout">Logout</a>
            </li>
        <% elsif session[:use_id] == nil %>
        <li>
          <a href="/user/register">
            Sign Up
          </a>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Login <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li>
               <form id="signin" action="/login" method="post">
                <input type="text" class="form-control" name="user[email]" placeholder="Email">
                <input type="password" class="form-control" name="user[password]" placeholder="password"/>
                <input type="submit" class="btn btn-default" value="Sign In">
              </form>
            </li>
          </ul>
        </li>
        <%end%>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
